<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milotnt.mapper.PaymentMapper">

    <select id="selectByMemberAccount" resultType="com.milotnt.pojo.MemberPayment">
        SELECT *
        FROM member_payment
        WHERE member_account = #{memberAccount}
    </select>

    <insert id="insertMemberPayment">
        INSERT INTO member_payment(member_account,recharge_amount,recharge_time)
        VALUES (#{memberAccount}, #{rechargeAmount}, #{rechargeTime})
    </insert>

    <select id="selectByMonth" resultType="java.lang.Integer">
        SELECT SUM(recharge_amount)
        FROM member_payment
        WHERE YEAR(recharge_time) = #{year} AND MONTH(recharge_time) = #{month}
    </select>

</mapper>